@model bool
@if (Model)
{
    <div class="tr">
        <div class="lbl"></div>
        <div class="vl">
            <label class="control-label">Председател на състава</label>
        </div>
    </div>
}