<header class="clearfix">
    <a class="logo" href="https://portal.justice.bg/" title="">
        <img src="~/img/gerb.jpg" alt="Герб на Република България"/>
    </a>

    <button type="button" role="button" class="lines-button x menu d-lg-none">
        <label>Меню</label>
        <span class="lines"></span>
    </button>

    <div class="title">  
        <strong>Електронен публичен регистър на отводите</strong>       
        <span>Република България</span>
    </div>

    <partial name="LoginPartial" />

    <div class="clear"></div>
</header>