<nav class="main-menu clearfix">
    <a asp-controller="Public" asp-action="Index" class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" title="Начало">Начало</a>
    <a href="#" class="" title="Помощ">Помощ</a>  
</nav>