@model bool
<div class="form-group">
    <label class="form-check-label">
        <input asp-for="@Model" />&nbsp;
        <b>@Html.DisplayNameFor(model => model)</b>
    </label>
    <br />
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>