@model int?
@using EPRO.Core.Extensions

@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix.Replace(".", "_") + "_ddl";

    var modelValue = "";
    if (ViewData[fieldName] != null)
    {
        var ddl = (List<SelectListItem>)ViewData[fieldName];
        modelValue = ddl?.Where(x => x.Value == Model?.ToString()).Select(x => x.Text).FirstOrDefault();

    }
}
<div class="form-group">
    <label asp-for="@Model" class="control-label"></label>
    <div>
        @Html.Raw(modelValue)
        @Html.HiddenFor(x => x)
    </div>
</div>
